<!-- Begin Comments
================================================== -->
<div class="container">
  
  <br><br><br>
  
      <div id="comments" class="row justify-content-center mb-5">
        <div class="col-md-8">    
       
  <div class="button"> 
<center>
  <a href="https://fernandafperes.com.br/servicos" class="button">Gostou do post? Se quiser me contratar para te ajudar com a análise dos seus dados, saiba mais sobre os serviços que eu ofereço clicando aqui!</a>
</center>
  </div>
  <br><br>
  
            {{ template "_internal/disqus.html" . }}               
        </div>
    </div>
</div>
<!--End Comments
================================================== -->