<!-- Begin Comments
================================================== -->
<div class="container">
  
  Gostou do post? Se quiser me contratar para te ajudar com a análise dos seus dados, saiba mais sobre os serviços que eu ofereço <a href="https://fernandafperes.com.br/servicos">aqui</a>.
  
    <div id="comments" class="row justify-content-center mb-5">
        <div class="col-md-8">              
            {{ template "_internal/disqus.html" . }}               
        </div>
    </div>
</div>
<!--End Comments
================================================== -->