{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    {{- partial "_shared/title.html" . -}}
    <div class="main-content">

<div class="jumbotron fortags">
        <div class="align-self-center text-center">
			{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
			<a class="mt-1 mb-1" href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>
			{{ end }}
		</div>
		</div>

        <!-- Posts Index
        ================================================== -->
        <section class="recent-posts">
            <div class="section-title">
                <h2><span>Todos os posts</span></h2>
            </div>
            <div class="row listrecent">
                {{ $post_paginator := .Paginate (.Pages) 6 }}
                {{ range $post_paginator.Pages }}
                    {{- partial "list-partials/postbox.html" . -}}
                {{end}}
            </div>
        </section>
        {{- partial "list-partials/pagination.html" $post_paginator -}}
    </div><br><br>
    {{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}
