{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 error">
                <div class="mainheading">
                </div>
                <div class="article-post">
                     <h3 class="posttitle">
                         <center>
                        A página que você procura não foi encontrada.<br>
                        Clique <a href="/">aqui</a> para retornar à páginal inicial.
                        </center>
                        </h1> 
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
{{ end }}

{{ define "footer"}}
{{ end }}