<section class="text-center">
    {{ with .Site.Params.social.github }}
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/{{.}}"><i class="fab fa-github social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.linkedin }}
    <a target="_blank" rel="noopener noreferrer" href="https://linkedin.com/in/{{.}}"><i class="fab fa-linkedin social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.instagram }}
    <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/{{.}}"><i class="fab fa-instagram social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.youtube }}
    <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/{{.}}"><i class="fab fa-youtube social-icon" aria-hidden="true"></i></a>
    {{ end }}
    {{ with .Site.Params.social.youtube }}
    <a href="mailto:contato@fernandafperes.com.br?subject=Consultoria"><i class="fa fa-solid fa-envelope" aria-hidden="true"></i></a>
    {{ end }}
</section>
